<h2 class="text-center pagetitle"><strong>News</strong></h2>
<% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="newsTitle panel-heading">
    <h3 class="pull-left">
      <strong><%= post.title %></strong>
    </h3>
     <span class="pull-right"><%= post.created_at.strftime("%d %b. %Y") %></span>
  </div>
  <div class="panel-body">
    <!--<p><%= raw RedCloth.new(post.text).to_html %></p> -->
    <p><%= markdown post.summary %></p>
    <%= link_to 'Read More', post, class: "btn btn-default" %>
    <% if user_signed_in? %>
    <div class="pull-right">
       <%= link_to 'Edit', edit_post_path(post), class: "btn btn-default" %>
      <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-default" %>
    </div>
  <% end %>
  </div>
</div>
<% end %>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
