 <div class="panel panel-default">
  <div class="newsTitle panel-heading">
    <h3 class="pull-left">
      <strong><%= @post.title %></strong>
    </h3>
     <span class="pull-right"><%= @post.created_at.strftime("%d %b. %Y") %></span>
  </div>
  <div class="panel-body">
    <p><%= raw RedCloth.new(@post.text).to_html %></p>
    <div class="pull-right">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
        <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-default' %>
      <% end %>
    </div>
    <%= link_to 'Back', posts_path, class: "btn btn-default" %>
  </div>
</div>

