<% @pagi.each do |post| %>
 <div class="panel panel-default">
  <div class="newsTitle panel-heading">
    <h3 class="pull-left">
      <strong><%= post.title %></strong>
    </h3>
     <span class="pull-right"><%= post.created_at.strftime("%d %b. %Y") %></span>
  </div>
  <div class="panel-body">
    <p><%= raw RedCloth.new(post.text).to_html %></p>
    <%= link_to 'Read More', post %>
    <% if user_signed_in? %>
    <div class="pull-right">
       <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?'} %>
    </div>
  <% end %>
  </div>
</div>


<% end %>
