<!DOCTYPE html>
<html>
<head>
  <title>WCCC Gaming</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<div class="row">
  <div class="col-xs-12">
      <% if user_signed_in? %>
    <nav class="navbar navbar-default" role="navigation">
      <%= link_to "WCCC Gaming Admin", root_path, :class => 'navbar-brand' %>
      <p class="navbar-text">Logged in as <strong><%= current_user.email %></strong>.</p>
      <ul class="nav navbar-nav">
        <li><%= link_to "New Post", new_post_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      </ul>
    </nav>
  <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h1 class="logo"><strong><%= link_to "WCCC Gaming", root_path %></strong></h1>
  </div>
  <div class="col-xs-6">
    <ul id="nav" class="nav pull-right nav-pills">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">About</a></li>
      <li><%= link_to "News", posts_path %></li>
      <li><a href="#">Events</a></li>
    </ul>
  </div>
</div>
  <%= render 'devise_errors' %>
  <%= yield %>
</div>
</body>
</html>
